body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#resQuery{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
}

#nomeProjeto {
	color: #E25D33;
	font-weight: bold;
}

#dropdownlist{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#lista{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

li {display: list-item;
    text-align: -webkit-match-parent;
}

#relac{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}