body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#resQuery{
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 50px;
}

#nomeProjeto {
	color: #E25D33;
	font-weight: bold;
}